body{
    margin: 0;
}

h1{
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div{
    margin: 0;
}

input[type='button']{
    width: 30px;
}

#page{
    background-color: grey;
    margin: 0 auto;
    width: 960px;
};

#subTitle
{
    margin: 0;
}
